@model CapaEntidad.Cliente
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrar</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>

    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Crear cuenta</h3></div>
                                    <div class="card-body">
                                        <form action="@Url.Action("Registrar","AccesoCliente")" method="post">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", @placeholder = ".", @id = "txtNombre", value = ViewData["Nombre"] })
                                                        @Html.Label("txtNombre", "Nombre completo")
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = ".", @id = "txtEmail", value = ViewData["Email"] })
                                                        @Html.Label("txtEmail", "Email")
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        @Html.PasswordFor(m => m.Contrasena, new { @class = "form-control", @placeholder = ".", @id = "txtcontrasena" })
                                                        @Html.Label("txtcontrasena", "Contrasena")
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.PasswordFor(m => m.ConfirmarContrasena, new { @class = "form-control", @placeholder = ".", @id = "txtconfirmar" })
                                                        @Html.Label("txconfirmar", "Confirmar Contrasena")
                                                    </div>
                                                </div>
                                            </div>
                                                
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control", @placeholder = ".", @id = "txtdireccion"})
                                                        @Html.Label("txtdireccion", "Direccion")
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => m.Cedula, new { @class = "form-control", @placeholder = ".", @id = "txtcedula" })
                                                        @Html.Label("txtcedula", "Cedula")
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        @Html.DropDownListFor(m => m.genero,
                                                            new List<SelectListItem>
                                                            {
                                                                new SelectListItem { Text = "Masculino", Value = "1" },
                                                                new SelectListItem { Text = "Femenino", Value = "2" },
                                                                new SelectListItem { Text = "Otro", Value = "3" }
                                                            },
                                                            new { @class = "form-select", @id = "cbogenero" }
                                                        )
                                                        @Html.Label("cbogenero", "Genero")
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating">
                                                        @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control", @placeholder = ".", @id = "txttelefono" })
                                                        @Html.Label("txttelefono", "Telefono")
                                                    </div>
                                                </div>
                                            </div>

                                                @{
                                                    if (ViewBag.Error != null)
                                                    {
                                                        <div class="form-floating mb-3">
                                                            <div id="mensajeError" class="alert alert-danger" role="alert">
                                                                @ViewBag.Error
                                                            </div>
                                                        </div>

                                                    }
                                                }
                                         
                                                <div class="mt-4 mb-0">
                                                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Crear cuenta</button></div>
                                                </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="@Url.Action("Index","Acceso")">¿Ya tienes una cuenta? Iniciar sesion</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script src="~/Scripts/bootstrap.bundle.js"></script>
    </body>
</html>
