@{
    ViewBag.Title = "Home Page";
}


<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad Usuarios</h6>
                        <h6 id="totalUsuario">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-user fa-2x"> </i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad ventas</h6>
                        <h6 id="totalVentas">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-shopping-bag fa-2x"> </i>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-secondary text-white mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-9">
                        <h6>Cantidad de Medicamentos</h6>
                        <h6 id="totalMedicamento">0</h6>
                    </div>
                    <div class="col-sm-3">
                        <i class="fas fa-pills fa-2x"> </i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-tags me-1"></i>
        Historial de ventas
    </div>
    <div class="card-body">
        <form action="@Url.Action("ExportarReporte","Home")" method="post"> 
        <div class="row align-items-end">
            <div class="col-sm-2">
                <div class="mb-2">
                    <label class="form-label">Fecha Inicio:</label>
                    <input type="date" id="txtfechaInicio" class="form-control" name="fechainicio" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="mb-2">
                    <label class="form-label">Fecha Fin</label>
                    <input type="date" id="txtfechaFin" class="form-control" name="fechafin" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="mb-2">
                    <label class="form-label">Id Transaccion:</label>
                    <input type="text" id="txtIdtransaccion" class="form-control" name="idtransaccion"/>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="d-grid mb-2 ">
                    <button class="btn btn-primary" id="btnbuscar" type="button"><i class="fa fa-search"></i> Buscar</button>
                </div>

            </div>
            <div class="col-sm-2">
                <div class="d-grid mb-2">
                    <button class="btn btn-success" id="btnArchivo" type="submit"><i class="fa fa-file-excel"></i> Exportar</button>
                </div>

            </div>

        </div>
        </form>
        <hr />

        <div class="row">
            <div class="col-sm-12">
                <table id="tabla" class="display cell-border" style="width:100%">                    
                    <thead>
                        <tr>
                            <th>Fecha de venta</th>
                            <th>Usuario</th>
                            <th>Medicamento</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Id Transaccion</th>
                        </tr>
                    </thead>
                    <tbody></tbody>

                </table>
            </div>
        </div>

</div>
</div>

@section Scripts{
    <script>

        var tablaData;
        jQuery.ajax({
         url: '@Url.Action("VerDashboard", "Home")',
         type: "GET",
         dataType: "json",
         contentType: "application/json; charset=utf-8",
         success: function (data) {

             var objeto = data.resultado;

             $("#totalUsuario").text(objeto.TotalUsuarios);
             $("#totalVentas").text(objeto.TotalVentas);
             $("#totalMedicamento").text(objeto.TotalMedicamentos);

         },

         error: function (error) {
                console.log(error)
         },

            beforeSend: function () {
            },

        });


        var URL = '@Url.Action("ListaReporte", "Home")' +
            "?fechainicio=" + $("txtfechaInicio").val() +
            "&fechafin=" + $("txtfechaFin").val() +
            "&idtransaccion=" + $("txtIdtransaccion").val();


    tablaData = $("#tabla").DataTable({
    Responsesive: true,
    ordering: false,
    "ajax": {
        url: URL,
        type: "GET",
        dataType: "json",

    },
    "columns": [
        { "data": "FechaVenta" },
        { "data": "Usuario" },
        { "data": "Medicamento" },
        { "data": "Precio" },
        { "data": "Cantidad" },
        { "data": "Total" },
        { "data": "IdTransaccion" },


    ],
    "language": {
        "url": "//cdn.datatables.net/plug-ins/2.3.4/i18n/es-ES.json"

    }
});

        $("btnbuscar").on("click", function () {

             var Nueva_URL = '@Url.Action("ListaReporte", "Home")' +
                 "?fechainicio=" + $("txtfechaInicio").val() +
                 "&fechafin=" + $("txtfechaFin").val() +
                "&idtransaccion=" + $("txtIdtransaccion").val();

            tablaData.ajax.url(Nueva_URL).load();

        })
    </script>
}   